.userBody{
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.userFullName{
    background-color: aquamarine;
    text-align: left;
    padding-left: 20px;
}

.userFullName h3{
    color: crimson;
    line-height: 40px;
    margin-top: 0px;
    border-radius: 10px;
}

.userDetailsSection{
    display: flex;
    padding: 0px 20px;
}

.userInformation{
    text-align: left;
}

.userImageArea img{
    border: 1px solid goldenrod;
    border-radius: 50%;
}

.user{
    padding-left: 20px;
}

.userJobInfo{
    text-align: left;
    padding-left: 100px;
}

.footerArea{
    text-align: right;
    background-color: lightgray;
    line-height: 40px;
    padding-right: 3%;
}

.btnAddFriend{
    background-color: lightseagreen;
    border-radius: 5%;
    color: #fff;
    font-size: 20px;
}